version: '3'
services:
  appster:
    container_name: appster
    image: appster
    build: .
    volumes:
      - ./:/usr/src/app
    networks:
      - backend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - database
    environment:
      - WAIT_HOSTS=database:3306
      - WAIT_HOSTS_TIMEOUT=60
    command: ./start.sh

  database:
    image: mariadb:latest
    restart: always
    ports:
      - '3306:3306'
    volumes:
      - /var/lib/mysql
    environment:
      - MYSQL_ROOT_USER=%
      - MYSQL_ROOT_PASSWORD=appster
      - MYSQL_PASSWORD=appster
      - MYSQL_USER=root
      - MYSQL_DATABASE=appster
    command: --character-set-server=utf8
    networks:
      - backend

networks:
  backend:
    driver: bridge
